<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.taokefu.mapper.CompanyAllMapper">

	<select id="findJobAllMapper" resultType="com.yc.taokefu.entity.CompanyAll"
		parameterType="CompanyAll">
		select *
		from job j
		join company comp
		on j.c_id =
		comp.comp_id
		where j.job_name
		like
		'%${job_name}%'
	</select>

	<select id="findResumeCompany" parameterType="CompanyAll" resultType="CompanyAll">
		select * from company where comp_id=${comp_id}
	</select>

	<!-- ***********************添加公司信息 *********************** -->
	<!-- 公司信息 -->
	<insert id="insertCompany" parameterType="CompanyAll">
		insert into company values(company_sql.nextval
		<if test="comp_name ==null">,''</if>
		<if test="comp_name !=null">,'${comp_name}'</if>
		<if test="comp_fullname ==null ">,''</if>
		<if test="comp_fullname !=null">,'${comp_fullname}'</if>
		<if test="comp_logo ==null">,''</if>
		<if test="comp_logo !=null">,'${comp_logo}'</if>
		<if test="comp_territory ==null">,''</if>
		<if test="comp_territory !=null">,'${comp_territory}'</if>
		<if test="comp_state ==null ">,''</if>
		<if test="comp_state !=null">,'${comp_state}'</if>
		<if test="comp_phone ==null ">,''</if>
		<if test="comp_phone !=null">,'${comp_phone}'</if>
		<if test="comp_email ==null ">,''</if>
		<if test="comp_email !=null">,'${comp_email}'</if>
		<if test="comp_link ==null ">,''</if>
		<if test="comp_link !=null">,'${comp_link}'</if>
		<if test="comp_city ==null ">,''</if>
		<if test="comp_city !=null">,'${comp_city}'</if>
		<if test="comp_scale ==null ">,''</if>
		<if test="comp_scale !=null">,'${comp_scale}'</if>
		<if test="comp_introduce ==null ">,''</if>
		<if test="comp_introduce !=null">,'${comp_introduce}'</if>
		<if test="comp_introduces ==null ">,''</if>
		<if test="comp_introduces !=null">,'${comp_introduces}'</if>
		<if test="comp_attestation ==null ">,'-0'</if>
		<if test="comp_attestation !=null">,'${comp_attestation}'</if>
		<if test="tag_name ==null ">,''</if>
		<if test="tag_name !=null">,'${tag_name}'</if>
		)

	</insert>
	<!-- 公司详情信息 -->
	<insert id="insertCoResume" parameterType="User">
		insert into coResume values(comResume_sql.nextval
		<if test="c_id ==null">,''</if>
		<if test="c_id !=null">,'${c_id}'</if>
		<if test="pro_name ==null">,''</if>
		<if test="pro_name !=null">,'${pro_name}'</if>
		<if test="pro_link ==null">,''</if>
		<if test="pro_link!=null">,'${pro_link}'</if>
		<if test="pro_picPath ==null ">,''</if>
		<if test="pro_picPath !=null">,'${pro_picPath}'</if>
		<if test="pro_pdesc ==null ">,''</if>
		<if test="pro_pdesc !=null">,'${pro_pdesc}'</if>
		<if test="de_name ==null">,''</if>
		<if test="de_name !=null">,'${de_name}'</if>
		<if test="dee_link ==null">,''</if>
		<if test="dee_link !=null">,'${dee_link}'</if>
		)
	</insert>
	<!-- 公司团队 -->
	<insert id="insertCompany_team" parameterType="CompanyAll">
		insert into company_team values(company_team_sql.nextval
		<if test="c_id ==null or c_id ==''">,''</if>
		<if test="c_id !=null">,'${c_id}'</if>
		<if test="ct_name ==null or ct_name ==''">,''</if>
		<if test="ct_name !=null">,'${ct_name}'</if>
		<if test="ct_picPath ==null or ct_picPath ==''">,''</if>
		<if test="ct_picPath !=null">,'${ct_picPath}'</if>
		<if test="ct_job ==null or ct_job ==''">,''</if>
		<if test="ct_job !=null">,'${ct_job}'</if>
		<if test="ct_tdesc ==null or ct_tdesc ==''">,''</if>
		<if test="ct_tdesc !=null">,'${ct_tdesc}'</if>
		)
	</insert>

	<!--职位信息 -->
	<insert id="insertJob" parameterType="CompanyAll">
		insert into job values(job_sql.nextval
		<if test="c_id ==null or c_id ==''">,''</if>
		<if test="c_id !=null">,'${c_id}'</if>
		<if test="job_tags ==null or job_tags ==''">,''</if>
		<if test="job_tags !=null">,'${job_tags}'</if>
		<if test="job_name ==null or job_name ==''">,''</if>
		<if test="job_name !=null">,'${job_name}'</if>
		<if test="job_department ==null or job_department ==''">,''</if>
		<if test="job_department !=null">,'${job_department}'</if>
		<if test="job_nature ==null or job_nature ==''">,''</if>
		<if test="job_nature !=null">,'${job_nature}'</if>
		<if test="job_min_salary ==null or job_min_salary ==''">,''</if>
		<if test="job_min_salary !=null">,'${job_min_salary}'</if>
		<if test="job_max_salary ==null or job_max_salary ==''">,''</if>
		<if test="job_max_salary !=null">,'${job_max_salary}'</if>
		<if test="job_ftime ==null or job_ftime ==''">,''</if>
		<if test="job_ftime !=null">,'${job_ftime}'</if>
		<if test="job_education ==null or job_education ==''">,''</if>
		<if test="job_education !=null">,'${job_education}'</if>
		<if test="job_tempt ==null or job_tempt ==''">,''</if>
		<if test="job_tempt !=null">,'${job_tempt}'</if>
		<if test="job_responsibility ==null or job_responsibility ==''">,''</if>
		<if test="job_responsibility !=null">,'${job_responsibility}'</if>
		<if test="job_need ==null or job_need ==''">,''</if>
		<if test="job_need !=null">,'${job_need}'</if>
		<if test="job_rests ==null or job_rests ==''">,''</if>
		<if test="job_rests !=null">,'${job_rests}'</if>
		<if test="job_number ==null or job_number ==''">,''</if>
		<if test="job_number !=null">,'${job_number}'</if>
		<if test="job_state ==null or job_state ==''">,''</if>
		<if test="job_state !=null">,'${job_state}'</if>
		)
	</insert>
	<!-- 职位类别信息 -->
	<insert id="insertJob_class" parameterType="CompanyAll">
		insert into job_class values(jobClass_sql.nextval
		<if test="jc_name ==null or jc_name ==''">,''</if>
		<if test="jc_name !=null">,'${jc_name}'</if>
		)
	</insert>


	<!-- ***********************查询公司信息 *********************** -->
	<select id="findCompany" parameterType="CompanyAll" resultType="CompanyAll">
		select
		* from company where
		<if test="comp_id !=null">comp_id=#{comp_id}</if>
		<if test="comp_email !=null">comp_email=#{comp_email}</if>
	</select>
	<!-- 查询公司详情信息 -->
	<select id="findCoResume" parameterType="CompanyAll" resultType="CompanyAll">
		select * from coResume where
		<if test="cor_id !=null">cor_id=#{cor_id}</if>
		<if test="c_id !=null">c_id=#{c_id}</if>
	</select>
	<!-- 查询公司团队信息 -->
	<select id="findCompany_team" parameterType="CompanyAll"
		resultType="CompanyAll">
		select * from company_team where
		<if test="ct_id !=null">ct_id=#{ct_id}</if>
		<if test="c_id !=null">c_id=#{c_id}</if>

	</select>
	<!-- 查询职位信息 -->
	<select id="findJob" parameterType="CompanyAll" resultType="CompanyAll">
		select * from job where
		<if test="c_id !=null">c_id=#{c_id}</if>
	</select>
	<!-- 查询职位类别信息 -->
	<select id="findJob_class" parameterType="CompanyAll"
		resultType="CompanyAll">
		select
		* from job_class where
		<if test="jc_name !=null">jc_name=#{jc_name}</if>
	</select>

	<!-- ***********************修改公司信息 *********************** -->
	<update id="modifiCompany" parameterType="CompanyAll">
		update company
		<set>
			<if test="comp_name !=null">comp_name='${comp_name}',</if>
			<if test="comp_fullname !=null">comp_fullname='${comp_fullname}',</if>
			<if test="comp_logo !=null">comp_logo='${comp_logo}',</if>
			<if test="comp_territory !=null">comp_territory='${comp_territory}',</if>
			<if test="comp_state !=null">comp_state='${comp_state}',</if>
			<if test="comp_phone !=null">comp_phone='${comp_phone}',</if>
			<if test="comp_link !=null">comp_link='${comp_link}',</if>
			<if test="comp_city !=null">comp_city='${comp_city}',</if>
			<if test="comp_scale !=null">comp_scale='${comp_scale}',</if>
			<if test="comp_introduce !=null">comp_introduce='${comp_introduce}',</if>
			<if test="comp_introduces !=null">comp_introduces='${comp_introduces}',</if>
			<if test="comp_attestation !=null">comp_attestation='${comp_attestation}',</if>
			<if test="tag_name !=null">tag_name='${tag_name}',</if>
		</set>
		where
		<if test="comp_id !=null">comp_id=${comp_id}</if>
		<if test="comp_email !=null">comp_email='${comp_email}'</if>

	</update>
	<update id="modifiCoResume" parameterType="CompanyAll">
		update coResume
		<set>
			<if test="pro_name !=null">pro_name='${pro_name}',</if>
			<if test="pro_link!=null">pro_link='${pro_link}',</if>
			<if test="pro_picPath !=null">pro_picPath='${pro_picPath}',</if>
			<if test="pro_pdesc !=null">pro_pdesc='${pro_pdesc}',</if>
			<if test="de_name !=null">de_name='${de_name}',</if>
			<if test="dee_link !=null">dee_link='${dee_link}',</if>
		</set>
		where
		<if test="c_id !=null">c_id=${c_id}</if>
	</update>

	<update id="modifiCompany_team" parameterType="CompanyAll">
		update company_team
		<set>
			<if test="ct_name !=null">ct_name='${ct_name}',</if>
			<if test="ct_picPath !=null">ct_picPath='${ct_picPath}',</if>
			<if test="ct_job !=null">ct_job='${ct_job}',</if>
			<if test="ct_tdesc !=null">ct_tdesc='${ct_tdesc}',</if>
		</set>
		where
		<if test="c_id !=null">c_id='${c_id}'</if>
	</update>

	<update id="modifiJob" parameterType="CompanyAll">
		update job
		<set>
			<if test="job_tags !=null">job_tags='${job_tags}',</if>
			<if test="job_name !=null">job_name='${job_name}',</if>
			<if test="job_department !=null">job_department='${job_department}',</if>
			<if test="job_nature !=null">job_nature='${job_nature}',</if>
			<if test="job_min_salary !=null">job_min_salary='${job_min_salary}',</if>
			<if test="job_max_salary !=null">job_max_salary='${job_max_salary}',</if>
			<if test="job_ftime !=null">job_ftime='${job_ftime}',</if>
			<if test="job_education !=null">job_education='${job_education}',</if>
			<if test="job_tempt !=null">ob_tempt='${job_tempt}',</if>
			<if test="job_responsibility !=null">'job_responsibility=${job_responsibility}',</if>
			<if test="job_need !=null">job_need='${job_need}',</if>
			<if test="job_rests !=null">job_rests='${job_rests}',</if>
			<if test="job_number !=null">job_number='${job_number}',</if>
			<if test="job_state !=null">job_state='${job_state}',</if>
		</set>
		where
		<if test="c_id !=null">c_id='${c_id}'</if>
	</update>
	<update id="modifiJob_class" parameterType="CompanyAll">
		update job_class
		<set>
			<if test="jc_name !=null">jc_name='${jc_name}',</if>
		</set>
		where
		<if test="jc_name !=null">jc_name='${jc_name}'</if>
	</update>
</mapper>