<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.taokefu.mapper.JobMapper">
	<select id="jobFind" parameterType="Job" resultType="Job">
		select * from job where job_name=#{job_name}
	</select>

	<select id="findCompany" parameterType="CompanyAll" resultType="CompanyAll">
		select *
		from job j
		join company comp
		on j.c_id =
		comp.comp_id
		join
		coResume cor
		on cor.c_id = comp.comp_id
		join tag t
		on
		cor.c_id=t.c_id
		<!-- join invest inv
		on inv.c_id = t.c_id -->
		where j.job_id=${job_id}
	</select>



	<resultMap type="PaginationBean" id="PaginationBeanMap">
		<collection property="rows"
			column="{pageSize=pageSize,currPage=currPage}" ofType="Job" select="getJOb" />
	</resultMap>

	<!-- 职位数据分页 -->
	<select id="listJob" parameterType="PaginationBean" resultMap="PaginationBeanMap">
		select count(1) total, ceil(count(1) / ${pageSize})
		totalPage,${pageSize} pageSize,${currPage} currPage from job
	</select>

	<select id="getJOb" resultType="Job">
		select * from (select n.*,rownum
		rn from
		(select * from job order by 1) n where ${pageSize}*${currPage}
		>= rownum)
		where rn > ${pageSize}*(${currPage}-1)
	</select>

	<!-- 职位删除 -->
	<delete id="deleteJob" parameterType="Integer">
		delete from job where
		job_id=#{id}
	</delete>
	<!-- 职位修改 -->
	<update id="editJob" parameterType="Job">
		update job set
		job_name=#{job_name},
		job_department=#{job_department},
		job_nature=#{job_nature},
		job_min_salary=#{job_min_salary}
		,job_max_salary=#{job_max_salary}
		,job_ftime=#{job_ftime}, job_need=#{job_need}
		where
		job_id=#{job_id}
	</update>
	<!--职位多条件查询 -->
	<select id="search" parameterType="Job" resultType="Job">
		select * from job where job_nature=#{job_nature} and 
		(to_date(job_ftime, 'yyyy-MM-dd') 
		between to_date(#{job_start_time}, 'yyyy-MM-dd') and 
		to_date(#{job_end_time}, 'yyyy-MM-dd'))
	</select>
	<!-- 职位添加 -->
	<insert id="jobAdd" parameterType="Job">
		insert into job (job_id,c_id,job_name,job_tags,job_department,job_nature,job_min_salary, job_max_salary,job_ftime, job_need)
		values(job_sql.nextval,#{c_id},#{job_name},#{job_tags},#{job_department},#{job_nature},#{job_min_salary},#{job_max_salary},#{job_ftime},#{job_need})
	</insert>

</mapper>