<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.taokefu.mapper.UserMapper">

	<select id="addOtherUser" resultType="java.util.List"
		parameterType="Qqlogin">
		insert into tkfuser (us_id,us_name)
		values(#{openId},#{nickname})
	</select>

	<!-- 后台用户添加 -->
	<insert id="BackUserAdd" parameterType="User">
		insert into tkfuser
		(us_id,us_name,us_picpath,us_sex,us_educationa,us_work_year,us_phone,us_email,us_intro)
		values(tkfuser_sql.nextval,#{us_name},#{us_picpath},#{us_sex},#{us_educationa},#{us_work_year},#{us_phone},#{us_email},#{us_intro})
	</insert>
	<!-- 后台用户修改 -->
	<update id="BackUserEdit" parameterType="User">
		update tkfuser
		<set>
			<if test="us_id != null">
				us_id = #{us_id},
			</if>
			<if test="us_name != null">
				us_name = #{us_name},
			</if>
			<if test="us_picpath != null">
				us_picpath = #{us_picpath},
			</if>
			<if test="us_sex != null">
				us_sex = #{us_sex},
			</if>
			<if test="us_educationa != null">
				us_educationa = #{us_educationa},
			</if>
			<if test="us_work_year != null">
				us_work_year = #{us_work_year},
			</if>
			<if test="us_phone != null">
				us_phone = #{us_phone},
			</if>
			<if test="us_email != null">
				us_email = #{us_email},
			</if>
			<if test="us_intro != null">
				us_intro = #{us_intro}
			</if>
		</set>
		where us_id = #{us_id}
	</update>

	<!-- 后台用户删除 -->
	<delete id="BackUserDelete" parameterType="String">
		delete from tkfuser
		where us_id=#{id}
	</delete>
	<!-- 后台用户搜索 -->
	<select id="BackUsersearch" parameterType="User" resultType="User">
		select * from tkfuser 
		<if test="user_nature=='-0'">where us_id like '%%'</if>
		<if test="user_nature=='-1'">where openId like '%%'</if>
		<if test="user_nature=='-2'">where openId like '%%'</if>
		<if test="key_search !=null and key_search !='-0'">and ${find_type}='${key_search}'</if>
	</select>

	<resultMap type="PaginationBean" id="PaginationBeanMap">
		<collection property="rows" column="{pageSize=pageSize,currPage=currPage}" ofType="User" select="getUser" />
	</resultMap>

	<!-- 后台用户页面加载 -->
	<select id="findPartUsers" parameterType="PaginationBean" resultMap="PaginationBeanMap">
		select count(1) total, ceil(count(1) / ${pageSize})
		totalPage,${pageSize} pageSize,${currPage} currPage from tkfuser
	</select>


	<select id="getUser" resultType="User">
		select * from (select n.*,rownum
		rn from
		(select * from tkfuser order by 1) n where
		${pageSize}*${currPage} >= rownum)
		where rn >
		${pageSize}*(${currPage}-1)
	</select>


	<!-- ***********************添加用户信息 *********************** -->
	<!-- 用户信息 -->
	<select id="addUser" resultType="java.util.List" parameterType="User">
		insert into tkfuser (us_id,us_email) values(${us_id},'${us_email}')
	</select>
	<insert id="insertUser" parameterType="UserAll">
		insert into tkfuser values(tkfuser_sql.nextval
		<if test="us_name==null or us_name==''">,''</if>
		<if test="us_name!=null">,'${us_name}'</if>
		<if test="us_picpath==null or us_picpath ==''">,''</if>
		<if test="us_picpath!=null">,'${us_picpath}'</if>
		<if test="us_intro==null or us_intro ==''">,''</if>
		<if test="us_intro!=null">,'${us_intro}'</if>
		<if test="us_sex==null or us_sex ==''">,''</if>
		<if test="us_sex!=null">,'${us_sex}'</if>
		<if test="us_educationa==null or us_educationa ==''">,''</if>
		<if test="us_educationa!=null">,'${us_educationa}'</if>
		<if test="us_work_year==null or us_work_year ==''">,''</if>
		<if test="us_work_year!=null">,'${us_work_year}'</if>
		<if test="us_phone==null or us_phone ==''">,''</if>
		<if test="us_phone!=null">,'${us_phone}'</if>
		<if test="us_email==null or us_email ==''">,''</if>
		<if test="us_email!=null">,'${us_email}'</if>
		<if test="openId==null or openId ==''">,''</if>
		<if test="openId!=null">,'${openId}'</if>
		)
	</insert>
	<!-- 简历信息 -->
	<insert id="insertUsResume" parameterType="User">
		insert into usResume values(usResume_sql.nextval
		<if test="tkf_id==null or tkf_id==''">,''</if>
		<if test="tkf_id!=null">,'${tkf_id}'</if>
		<if test="c_id==null or c_id==''">,''</if>
		<if test="c_id!=null">,'${c_id}'</if>
		<if test="usr_name==null or usr_name==''">,''</if>
		<if test="usr_name!=null">,'${usr_name}'</if>
		<if test="usr_state==null or usr_state==''">,''</if>
		<if test="usr_state!=null">,'${usr_state}'</if>
		<if test="hj_name==null or hj_name==''">,''</if>
		<if test="hj_name!=null">,'${hj_name}'</if>
		<if test="hj_city==null or hj_city==''">,''</if>
		<if test="hj_city!=null">,'${hj_city}'</if>
		<if test="hj_min_salary==null or hj_min_salary==''">,''</if>
		<if test="hj_min_salary!=null">,'${hj_min_salary}'</if>
		<if test="hj_max_salary==null or hj_max_salary==''">,''</if>
		<if test="hj_max_salary!=null">,'${hj_max_salary}'</if>
		<if test="hj_nature ==null or hj_nature ==''">,''</if>
		<if test="hj_nature != null">,'${hj_nature}'</if>
		<if test="des_content == null or des_content ==''">,''</if>
		<if test="des_content!=null">,'${des_content}'</if>
		)
	</insert>
	<!-- 作品信息 -->
	<insert id="insertSucceed" parameterType="UserAll">
		insert into succeed values(succeed_sql.nextval
		<if test="tkf_id==null or tkf_id==''">,''</if>
		<if test="tkf_id!=null">,'${tkf_id}'</if>
		<if test="suc_name ==null or suc_name ==''">,''</if>
		<if test="suc_name !=null">,'${suc_name}'</if>
		<if test="suc_link ==null or suc_link ==''">,''</if>
		<if test="suc_link !=null">,'${suc_link}'</if>
		)
	</insert>
	<!-- 经历 -->
	<insert id="insertExperience" parameterType="UserAll">
		insert into experience values(experience_job_sql.nextval
		<if test="tkf_id==null or tkf_id==''">,''</if>
		<if test="tkf_id!=null">,'${tkf_id}'</if>
		<if test="exp_company_name ==null or exp_company_name ==''">,''</if>
		<if test="exp_company_name !=null">,'${exp_company_name}'</if>
		<if test="exp_job_name ==null or exp_job_name ==''">,''</if>
		<if test="exp_job_name !=null">,'${exp_job_name}'</if>
		<if test="exp_start_year ==null or exp_start_year ==''">,''</if>
		<if test="exp_start_year !=null">,'${exp_start_year}'</if>
		<if test="exp_end_year ==null or exp_end_year ==''">,''</if>
		<if test="exp_end_year !=null">,'${exp_end_year}'</if>
		<if test="exp_work ==null or exp_work ==''">,''</if>
		<if test="exp_work !=null">,'${exp_work}'</if>
		<if test="exp_city ==null or exp_city ==''">,''</if>
		<if test="exp_city !=null">,'${exp_city}'</if>
		)
	</insert>
	<!--学历信息 -->
	<insert id="insertEducationa" parameterType="UserAll">
		insert into educationa values(educationa_sql.nextval
		<if test="tkf_id==null or tkf_id==''">,''</if>
		<if test="tkf_id!=null">,'${tkf_id}'</if>
		<if test="edu_shool_name ==null or edu_shool_name ==''">,''</if>
		<if test="edu_shool_name !=null">,'${edu_shool_name}'</if>
		<if test="edu_major ==null or edu_major ==''">,''</if>
		<if test="edu_major !=null">,'${edu_major}'</if>
		<if test="edu_educationa ==null or edu_educationa ==''">,''</if>
		<if test="edu_educationa !=null">,'${edu_educationa}'</if>
		<if test="edu_start_year ==null or edu_start_year ==''">,''</if>
		<if test="edu_start_year !=null">,'${edu_start_year}'</if>
		<if test="edu_end_year ==null or edu_end_year ==''">,''</if>
		<if test="edu_end_year !=null">,'${edu_end_year}'</if>
		)
	</insert>
	<!-- 收藏信息 -->
	<insert id="insertCollect" parameterType="UserAll">
		insert into collect values(collect_sql.nextval
		<if test="tkf_id==null or tkf_id==''">,''</if>
		<if test="tkf_id!=null">,'${tkf_id}'</if>
		<if test="col_job_id ==null or col_job_id ==''">,''</if>
		<if test="col_job_id !=null">,'${col_job_id}'</if>
		)
	</insert>
	<!-- 订阅信息 -->
	<insert id="insertTake" parameterType="UserAll">
		insert into take values(take_job_sql.nextval
		<if test="tkf_id==null or tkf_id==''">,''</if>
		<if test="tkf_id!=null">,'${tkf_id}'</if>
		<if test="tak_job_id ==null or tak_job_id ==''">,''</if>
		<if test="tak_job_id !=null">,'${tak_job_id}'</if>
		<if test="tak_email ==null or tak_email ==''">,''</if>
		<if test="tak_email !=null">,'${tak_email}'</if>
		<if test="tak_time ==null or tak_time ==''">,''</if>
		<if test="tak_time !=null">,'${tak_time}'</if>
		<if test="tak_job_name ==null or tak_job_name ==''">,''</if>
		<if test="tak_job_name!=null">,'${tak_job_name}'</if>
		<if test="tak_job_city ==null or tak_job_city ==''">,''</if>
		<if test="tak_job_city !=null">,'${tak_job_city}'</if>
		<if test="tak_state ==null or tak_state ==''">,''</if>
		<if test="tak_state !=null">,'${tak_state}'</if>
		<if test="tak_territory ==null or tak_territory ==''">,''</if>
		<if test="tak_territory !=null">,'${tak_territory}'</if>
		<if test="tak_min_salary ==null or tak_min_salary ==''">,''</if>
		<if test="tak_min_salary !=null">,'${tak_min_salary}'</if>
		<if test="tak_max_salary ==null or tak_max_salary ==''">,''</if>
		<if test="tak_max_salary !=null">,'${tak_max_salary}'</if>
		)
	</insert>


	<!-- ***********************查询用户信息 *********************** -->
	<select id="findUser" parameterType="UserAll" resultType="UserAll">
		select
		* from tkfuser where
		<if test="us_id !=null">us_id=#{us_id}</if>
		<if test="tkf_id !=null">us_id=#{tkf_id}</if>
	</select>
	<!-- select * from tkfuser where <trim><if test="us_id !=null">us_id=#{us_id}</if> 
		<if test="tkf_id !=null">and tkf_id=#{tkf_id}</if> <if test="openId !=null">and 
		openId=#{openId}</if> </trim> -->
	<!-- 查询简历信息 -->
	<select id="findUsResume" parameterType="UserAll" resultType="UserAll">
		select * from usResume where
		<if test="usr_id !=null">usr_id=#{usr_id}</if>
		<if test="tkf_id !=null">tkf_id=#{tkf_id}</if>
	</select>
	<!-- 查询作品信息 -->
	<select id="findSucceed" parameterType="UserAll" resultType="UserAll">
		select * from succeed where
		<if test="suc_id !=null">suc_id=#{suc_id}</if>
		<if test="tkf_id !=null">tkf_id=#{tkf_id}</if>
	</select>
	<!-- 查询经历 -->
	<select id="findExperience" parameterType="UserAll" resultType="UserAll">
		select * from experience where
		<if test="exp_id !=null">exp_id=#{exp_id}</if>
		<if test="tkf_id !=null">tkf_id=#{tkf_id}</if>
	</select>
	<!-- 查询学历信息 -->
	<select id="findEducationa" parameterType="UserAll" resultType="UserAll">
		select * from educationa where
		<if test="edu_id !=null">edu_id=#{edu_id}</if>
		<if test="tkf_id !=null">tkf_id=#{tkf_id}</if>
	</select>
	<!-- 查询收藏信息 -->
	<select id="findCollect" parameterType="UserAll" resultType="UserAll">
		select * from collect where
		<if test="col_id !=null">col_id=#{col_id}</if>
		<if test="tkf_id !=null">tkf_id=#{tkf_id}</if>
	</select>
	<!-- 查询订阅信息 -->
	<select id="findTake" parameterType="UserAll" resultType="UserAll">
		select
		* from take where
		<if test="tak_id !=null">tak_id=#{tak_id}</if>
	</select>

	<!-- ***********************修改用户信息 *********************** -->
	<update id="modifiUser" parameterType="UserAll">
		update tkfuser
		<set>
			<if test="us_name !=null">us_name='${us_name}',</if>
			<if test="us_picpath !=null">us_picpath='${us_picpath}',</if>
			<if test="us_intro !=null">us_intro='${us_intro}',</if>
			<if test="us_sex !=null">us_sex='${us_sex}',</if>
			<if test="us_educationa !=null">us_educationa='${us_educationa}',</if>
			<if test="us_work_year !=null">us_work_year='${us_work_year}',</if>
			<if test="us_phone !=null">us_phone='${us_phone}',</if>
		</set>
		where
		<trim>
			<if test="us_id !=null">us_id=${us_id}</if>
			<if test="us_email !=null"> us_email='${us_email}'</if>
			<if test="openId !=null"> openId='${openId}'</if>
		</trim>

	</update>
	<!-- 简历信息 -->
	<update id="modifiUsResume" parameterType="UserAll">
		update usResume
		<set>
			<if test="c_id !=null">c_id='${c_id}',</if>
			<if test="usr_name !=null">usr_name='${usr_name}',</if>
			<if test="usr_state !=null">usr_state='${usr_state}',</if>
			<if test="hj_name !=null">hj_name='${hj_name}',</if>
			<if test="hj_city !=null">hj_city='${hj_city}',</if>
			<if test="hj_min_salary !=null">hj_min_salary='${hj_min_salary}',</if>
			<if test="hj_max_salary !=null">hj_max_salary='${hj_max_salary}',</if>
			<if test="hj_nature !=null">hj_nature='${hj_nature}',</if>
			<if test="des_content !=null">des_content='${des_content}',</if>
		</set>
		where
		<trim>
			<if test="usr_id !=null">usr_id=${usr_id}</if>
			<if test="tkf_id !=null"> tkf_id='${us_email}'</if>
		</trim>
	</update>
	<!-- 作品信息 -->
	<update id="modifiSucceed" parameterType="UserAll">
		update succeed
		<set>
			<if test="suc_name !=null">suc_name='${suc_name}',</if>
			<if test="suc_link !=null">suc_link='${suc_link}',</if>
		</set>
		where
		<trim>
			<if test="tkf_id !=null"> tkf_id='${tkf_id}'</if>
		</trim>
	</update>

	<!-- 经历 -->
	<update id="modifiExperience" parameterType="UserAll">
		update experience
		<set>
			<if test="exp_company_name !=null">exp_company_name='${exp_company_name}',</if>
			<if test="exp_job_name !=null">exp_job_name='${exp_job_name}',</if>
			<if test="exp_work !=null">exp_work='${exp_work}',</if>
			<if test="exp_city !=null">exp_city='${exp_city}',</if>
			<if test="exp_start_year !=null">exp_start_year='${exp_start_year}',</if>
			<if test="exp_end_year !=null">exp_end_year='${exp_end_year}',</if>
		</set>
		where
		<if test="tkf_id !=null"> tkf_id='${tkf_id}'</if>
	</update>
	<!-- 学历信息 -->
	<update id="modifiEducationa" parameterType="UserAll">
		update educationa
		<set>
			<if test="edu_shool_name !=null">edu_shool_name='${edu_shool_name}',</if>
			<if test="edu_major !=null">edu_major='${edu_major}',</if>
			<if test="edu_educationa !=null">edu_educationa='${edu_educationa}',</if>
			<if test="edu_start_year !=null">edu_start_year='${edu_start_year}',</if>
			<if test="edu_end_year !=null">edu_end_year='${edu_end_year}',</if>
		</set>
		where
		<if test="tkf_id !=null"> tkf_id='${tkf_id}'</if>
	</update>
	<!-- 收藏信息 -->
	<update id="modifiCollect" parameterType="UserAll">
		update collect
		<set>
			<if test="col_job_id !=null">col_job_id='${col_job_id}',</if>
		</set>
		where
		<if test="tkf_id !=null"> tkf_id='${tkf_id}'</if>
	</update>
	<!-- 订阅信息 -->
	<update id="modifiTake" parameterType="UserAll">
		update take
		<set>
			<if test="tak_job_id !=null">tak_job_id='${tak_job_id}',</if>
			<if test="tak_email !=null">tak_email='${tak_email}',</if>
			<if test="tak_time !=null">tak_time='${tak_time}',</if>
			<if test="tak_job_name !=null">tak_job_name='${tak_job_name}',</if>
			<if test="tak_job_city !=null">tak_job_city='${tak_job_city}',</if>
			<if test="tak_state !=null">tak_state='${tak_state}',</if>
			<if test="tak_territory !=null">tak_territory='${tak_territory}',</if>
			<if test="tak_min_salary !=null">tak_min_salary='${tak_min_salary}',</if>
			<if test="tak_max_salary !=null">tak_max_salary='${tak_max_salary}',</if>
		</set>
		where
		<if test="tkf_id !=null"> tkf_id='${tkf_id}'</if>
	</update>
</mapper>