#bindTips h3,#bindReplace h3{
	font-size:24px;
	margin:0 0 20px;
	line-height:34px;
}
#bindTips .user_canOperatioin{
	font-size:18px;
	color:#f63f27;
	margin: 10px 0px 20px;
	padding:0;
	list-style:none;
}
#bindTips .user_canOperatioin li{
	line-height:30px;
	list-style:none;
}
#bindTips .cancel,#bindReplace .cancel{
	font-size:20px;
	color:#a3a3a3;
	padding:0 20px;
	margin-left:20px;
}
.red_18{
	font-size:18px;
	line-height:24px;
	color:#f63f27;
}
.red_20{
	font-size:20px;
	line-height:26px;
	color:#f63f27;
}
#bindReplace .border_btm{
	border-bottom:1px dashed #d6d6d6;
	padding-bottom:25px;
}
#bindReplace .border_btm{
	border-bottom:1px dashed #d6d6d6;
	padding-bottom:25px;
}
#bindReplace .chooseAccount{
	/* padding:25px; */
	padding:20px 0 10px 0;
}
#bindReplace .chooseAccount label{
	cursor:pointer;
	display:block;
	margin-top:10px;
	overflow:hidden;
}
#bindReplace .chooseAccount label .f16{
	line-height:24px;
}
#bindReplace .chooseAccount em{
	float:left;
	height:17px;
	width:17px;
	background: url(img/radio.png) no-repeat;
	margin:4px 10px 0 0;
}
#bindReplace .chooseAccount label.current em{
	background: url(img/radioSel.png) no-repeat;
}
#bindReplace .chooseAccount .acc_detail{
	color:#777;
	margin-left:28px;
}
#bindReplace .acc_detail span{
	display:inline-block;
	width:190px;
}
#bindReplace .chooseAccount i{ font-style:normal;}
/*帐号绑定确认*/
.user_bindSuccecc{font-size:20px;color:#555;padding-top:0px;line-height:30px; }
.user_bindSuccecc span{ color:#019875}
.user_confirmBind{font-size:20px;color:#f63f27;padding-top:28px;}
.user_bindBtn{width: 100%; margin-top:10px;}
.user_bindBtn a{margin-top:15px;display:inline-block;width:105px; height:37px; text-align: center;line-height: 37px; font-size:20px;color:#a3a3a3}
.user_bindBtn a.click{background:#019875;color:#fff;}
.user_noRecoverInfos{ margin-top:20px; background:#fafafa;border:1px dashed #e9e9e9;font-size:18px;height:40px;}
.noRecoverInfosTitle{ color:#6b6b6b;}
.noRecoverInfosContent{ color:#f63f27; font-weight:bold;;line-height:40px;text-align:center;}


/*确认取消绑定*/
.user_confirmUnbind{ font-size: 24px; color: #555}
.user_confirmNo{ font-size: 20px; color: #f63f27; padding-top: 26px;}

/*修改密码成功 vee*/
#updatePassword{text-align:center;}
#updatePassword h3{font-size:22px;color:#555555;margin:0 0 20px 0;}
#updatePassword h4{font-size:16px;color:#555555;margin:0 0 10px 0;}
/*解除招聘服务 vee*/
#unbindService{text-align:center;}
#unbindService h3{font-size:22px;color:#555555;margin:0 0 20px 0;}
#unbindService h4{font-size:16px;color:#555555;margin:0 0 10px 0;}
/*二次确认解除招聘服务*/
#confirm_unbindService h3{ font-size:24px; color:#555;margin:0 0 20px 0;}
#confirm_unbindService h4{ font-size:18px; color:#f63f27;margin:0 0 20px 0;line-height:30px; text-align:left}
#confirm_unbindService .confirm_unbindSeerviceBtn{ text-align:center;}
#confirm_unbindService .confirm_unbindSeerviceBtn .cancel{font-size:20px;
	color:#a3a3a3;
	padding:0 20px;
	margin-left:20px;}

