body {
	background-image: url(../images/bg.jpg) ;
	background-size:cover;
}

#loginForm {
	width: 240px;
	margin: 0px auto;
	text-align: center;
}

#loginForm input {
	width: 100%;
	height: 18px;
}

#loginForm input#vcode {
	width: 65%;
	margin-right: 6px;
}

#loginForm p img {
	width: 30%;
	vertical-align: top;
	float: right;
}

#loginForm p a {
	font-size: 120%;
	padding-left: 10px;
	padding-right: 10px;
	color: #767676;
}

#loginForm p a:HOVER {
	color: purple;
}

#loginForm p label {
	color: red;
}

.l-btn-text {
	font-size: 100%
}